@model PagedList.IPagedList<Product>
           
@{
    var searchModel = ViewBag.SearchModel as ProductSearchModel;
}

<table class="table table-striped table-hover">
    <tr>
        <th class="hidden-xs">
            Hình sản phẩm
        </th>
        <th>
            Thông tin chung
        </th>
        <th class="hidden-sm hidden-xs" width="150px">Gía</th>
        <th class="hidden-sm hidden-xs" width="100px">Số lượng tồn</th>
        <th>Actived</th>
        <th width="30px"></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("_ListItem", item)
    }
    @if (Model.Count == 0)
    {
        <tr>
            <td colspan="6" class="text-center text-info font-bold">Không tìm thấy sản phẩm nào</td>
        </tr>
    }
</table>

<!-- Phần hiển thị thanh phân trang-->
<div class="row">
    <div class="col-md-6 m-b-sm text-center">
        Hiển thị @(Html.DropDownList("PageSize", null, new {@class = "input-sm", id = "pageSelect"})) mẩu tin
    </div>

    <div class="col-md-6 text-center">
        @(Html.PagedListPager(Model,page=>Url.Action("Index",new{PageIndex=page,searchModel.PageSize,searchModel.Keyword}),PagedListRenderOptions.ClassicPlusFirstAndLast))
    </div>
</div>
