@{
    ViewBag.Title = "Login Failure";
}
<section class="log-reg container">
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">Unsuccessful login with service.</h3>
</hgroup>
    </section>
