<!--Footer-->
<div id="footer">
    <div id="footer">
        <div class="f1">
            <div class="wraperHotline">
                <div class="hotlineLeft"><span class="titleHotline">Tổng đài góp ý khiếu nại</span><span class="timeHotline">(08h00 - 21h00 tất cả các ngày trong tuần)</span></div>
                <div class="hotlineRight">1800.6009</div>
            </div>
        </div>
        <div class="f2">
            <div class="wraper">
                <div class="contactInfo">
                    <span class="tit">Tổng đài CSKH 1900.1234</span><span class="cont">
                        <ul>
                            <li>
                                <a href="http://nhatcuong.com/lien-he" target="_blank">Liên hệ với chúng tôi</a><span class="grey">
                                    Email: <i class="colorRed">Care@nhatcuong.com</i><br>
                                    Tổng đài: <i class="colorRed">1900.1234</i>, ấn phím 3 (08:00 - 21:45)
                                </span>
                            </li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/quy-dinh-bao-hanh-doi-tra" target="_blank">Quy định bảo hành, đổi trả</a></li>
                            <li><a href="http://nhatcuong.com" target="_blank">Các câu hỏi thường gặp</a></li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/bao-hanh-care-cong" target="_blank">Bảo hành <b style="color: red">Care+</b> thêm an tâm</a></li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/bao-hanh-roi-vo-ngam-nuoc-care-cong-diamond" target="_blank">Bảo hành rơi, vỡ, ngấm nước <b style="color: red">Care+</b> Diamond</a></li>
                        </ul>
                    </span>
                </div>
                <div class="contactInfo hotLine">
                    <span class="tit">Tư vấn bán hàng 1900.1234</span><span class="cont">
                        <ul>
                            <li>
                                <a href="http://nhatcuong.com/chuong-trinh/mua-hang-online" target="_blank">Đặt hàng nhanh - Tiện lợi - Hài lòng</a><span class="grey">
                                    Email: <i class="colorRed">sales@nhatcuong.com</i><br>
                                    Tổng đài: <i class="colorRed">1900.1234</i>, ấn phím 1 (08:00 - 17:30)
                                </span>
                            </li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/khach-hang-doanh-nghiep" target="_blank">Ưu đãi khách hàng doanh nghiệp</a></li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/tra-gop-dien-thoai" target="_blank">Chính sách trả góp</a></li>
                        </ul>
                    </span>
                </div>
                <div class="contactInfo listProduct padRight0">
                    <span class="tit">Chính sách &amp; Quy định chung</span>
                    <span class="cont noup">
                        <ul class="iconPlus">
                            <li><a href="http://nhatcuong.com/chuong-trinh/chinh-sach-quy-dinh-chung" target="_blank">Hình thức thanh toán</a></li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/chinh-sach-quy-dinh-chung" target="_blank">Chính sách đổi trả và hoàn tiền</a></li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/chinh-sach-quy-dinh-chung" target="_blank">Chính sách quy trình xử lý khiếu nại</a></li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/chinh-sach-quy-dinh-chung" target="_blank">Quy định về bảo mật thông tin</a></li>
                            <li><a href="http://nhatcuong.com/chuong-trinh/chinh-sach-quy-dinh-chung" target="_blank">Chính sách vận chuyển giao hàng</a></li>
                        </ul>
                        <span class="socialGroup"><a href="" class="fbIcon"></a><a href="" class="ggIcon"></a><a href="" class="ytIcon"></a></span>
                    </span>
                </div>
                <div class="menuBottom">
                    <ul>
                        <li><a class="padLeft0" href="http://nhatcuong.com/gioi-thieu-cong-ty" target="_blank">Giới thiệu công ty</a>|</li>
                        <li><a href="http://nhatcuong.com/chuong-trinh/nhat-cuong-tuyen-dung" target="_blank">Tuyển dụng</a>|</li>
                        <li><a href="http://nhatcuong.com/tin-tuc-iphone-6" target="_blank">Tin iphone 6</a>|</li>
                        <li><a href="http://suachuabaohanh.nhatcuong.com/" target="_blank">Sửa chữa bảo hành</a>|</li>
                        <li><a href="http://nhatcuong.com/chuong-trinh/chinh-sach-quy-dinh-chung" target="_blank">Chính sách &amp; quy định chung</a></li>
                        <li class="companyShare">Liên kết khác:<span class="socialGroup" title="" data-original-title=""><a class="fbIcon" target="_blank" href="https://www.facebook.com/nhatcuong.com.vn"></a><a class="ytIcon" target="_blank" href="http://www.youtube.com/nhatcuongmobile"></a></span></li>
                    </ul>
                </div>
                <div class="companyBottom">
                    <ul>
                        <li>
                            <p class="company">CTY TNHH TM &amp; DVKT NHẬT CƯỜNG</p>
                            <p class="companyAdd">VPGD: 39-41 Lý Quốc Sư, Hoàn Kiếm, Hà Nội.</p>
                        </li>
                        <li class="businessNumber">
                            <p>GPĐKKD số 01011.38364 do Sở KHĐT Hà Nội cấp ngày 20/06/2001</p>
                            <p>MST: 01011.38364</p>
                        </li>
                        <li class="padRight0">
                            <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=14499">
                                <img src="logo-Prove.png" alt="" height="62" width="96">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>