
<div class="col-sm-6">
    <h2>@ViewBag.Title</h2>
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink("CheapShop","Index")
        </li>
        <li class="active">
            <strong>Dashboard</strong>
        </li>
    </ol>
</div>

<div class="col-sm-6">
    <div class="title-action">
        @Html.ActionLink("Một chức năng gì đó", "Index", null, new { @class="btn btn-primary"})
    </div>
</div>